<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


      
    <title></title>
  <p class = "q"> QuizApp  </p>  

  
  <form action="/c">
  <p>Who is the person on the 10$ bill?:</p>
  <input type="radio" id="AH" name="Money" value="AH">
  <label for="ah">Alexander Hamilton</label><br>
  <input type="radio" id="RN" name="Money" value="RN">
  <label for="rn">Richard Nixon</label><br>
  <input type="radio" id="BC" name="Money" value="BC">
  <label for="bc">Bill Clinton</label>

  <br> 
<div>
</div>
  <input type="submit" value="Submit">
  
   
 </form>

 

  

          
      
  
       
	
  </body>
  </html>






